@model ClassLibrary1.Reportes

@{
    ViewData["Title"] = "AddReport";
}

<h1 class="text-light">Agregar un nuevo reporte</h1>

<h4 class="text-light">Reportes</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddReporte">
            <div class="form-group">
                <label class="control-label text-light">ID</label>
                <input asp-for="IdReporte" class="form-control" placeholder="Eje. 1"/>
            </div>
            <div class="form-group">
                <label class="control-label text-light">Equipo</label>
                <input asp-for="Equipo" class="form-control" placeholder="Eje. PC" />

            </div>
            <div class="form-group">
                <label class="control-label text-light">Accion a realizar</label>
                <input asp-for="AccionRealizar" class="form-control" placeholder="Eje. Formateo" />
            </div>
            <div class="form-group">
                <label class="control-label text-light">Atencion</label>
                <input asp-for="Atencion" class="form-control" placeholder="Eje. Interno" />
            </div>
            <div class="form-group mt-3 mb-2">
                <input type="submit" value="Agregar Reporte" class="btn btn-primary"  />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-warning text-dark" asp-action="Index">Volver a la lista</a>
</div>