@model List<ClassLibrary1.Roles>

@{
    ViewBag.Title = "Index";
}

<div class="bg-dark text-light mt-4">
    <h2>Lista de Roles</h2>

    <hr />
    <table class="table text-light">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
            </tr>
        </thead>


        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.IdRol
                </td>
                <td>
                    @item.NombreRol
                </td>

            </tr>
        }

    </table>
</div>