@{
    ViewData["Title"] = "Home Page";
}
 
<div class="text-center bg-dark">
    <img src="./iniciar-sesion.png" class="mt-3"/>
    <h1 class="display-4 text-light h1">Inicio de sesion</h1>
    <div class="divLog">
        <p class="text-light h3 plog">Nombre de usuario</p>
        <input class="form-control inpLog" placeholder="Usuario" />
    </div>
    <div class="divLog mt-3">
        <p class="text-light h3 plog2">Constraseña</p>
        <input class="form-control inpLog" placeholder="Contraseña" type="password" />
    </div>

    <div class="mt-5">
        <a class="btn btn-primary mx-3" asp-area="" asp-controller="JefeComputo" asp-action="Index">Iniciar sesion como jefe de centro de computo</a>
        <a class="btn btn-primary mx-3" asp-area="" asp-controller="JefeArea" asp-action="Index">Iniciar sesion como jefe del Area Asignada</a>
    </div>

</div>
