@{
    ViewData["Title"] = "Ayuda";
}

<div class="text-light text-center">
    <h1>@ViewData["Title"]</h1>

    <div class="text-lg-start mt-5">
        <p class="text-light h3">El login no es funcional</p>
        <p class="text-light h3">El rol de Jefe de computo Edita y Acepta los tickets</p>
        <p class="text-light h3">El rol de Jefe de Area crea y visualiza sus tickets</p>
    </div>
    
</div>

