@{
    ViewData["Title"] = "Ayuda";
}

<div class="text-light text-center">
    <h1>@ViewData["Title"]</h1>
    <hr />

    <div class="text-lg-start mt-5">
        <p class="text-light h3">Las credenciales del Jefe de computo son: JefeComputo || 1234</p>
        <hr/>
        <p class="text-light h3">Las credenciales del Jefe de computo son: JefeArea || 1234</p>
        <hr />
        <p class="text-light h3">El rol de Jefe de computo Edita y Acepta los tickets</p>
        <hr />
        <p class="text-light h3">El rol de Jefe de Area crea y visualiza sus tickets</p>
        <hr />
    </div>
    
</div>

